<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>

# Golem Standards Cheat Sheet

This page contains an aggregated summary of all namespaces and properties specified in Golem Standards.

# Standards Hierarchy
<# foreach(var category in m_tocEntries.Keys)
{
#>
<#	foreach(var item in m_tocEntries[category])
	{ 
		if(item.Level == 0)
		{ #>
###	<#= item.Label#>
<#		}
		else
		if(item.RelativePath == null) 
		{ #>
<#= "".PadRight(2*item.Level-1)#>* <#= item.Label#>
<#		}
		else
		{ #>
<#= "".PadRight(2*item.Level-1)#>* [<#= item.Label#>](<#= item.RelativePath??""#>)
<#		}
	}
}
#>

<# foreach(var category in m_namespaces.Values.GroupBy(ns => ns.Category))
{
#>
# Category: <#= category.Key #>

<#
	foreach(var ns in category.Where(nsp => nsp.Properties.Any()).OrderBy(nspace=>nspace.Name))
	{
#>
## [`<#= ns.Name #>`](<#= ns.RelativePath #>)

<#= ns.Description #>

<# if(ns.IncludedNamespaces.Count > 0) 
{
#>### Included Namespaces

<#	foreach(var incNs in ns.IncludedNamespaces.OrderBy(name=>name)) 
	{
#><#= incNs#>
<#	} #>

<# }
#>
### Properties

| Property | Type | Applies to | Category | Description |
|---|---|---|---|---|
<#	foreach(var prop in ns.Properties)
	{ #>
|**`<#= prop.FullName #>`**|`<#= prop.Type #>`|<#= prop.Describes ?? "" #>|<#= prop.Category #>|<#= prop.Description #>|
<#	}
#>
---

<#
	}
}

#>
